
input[type="text"]{
  padding:  0.6rem 0.4rem;
  background-color: #3d4e56;
  border-radius: 0.6rem;
  font-size: large;
  border-color: #3d4e56;
  
}
.button{
  margin-left: 1330px;
  padding:  0.6rem 4rem;
  
}
/* Add these styles to your App.css or a separate CSS file */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
 
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.flex1{
  margin-left: 25px;
 
}