
input[type="text"]{
  padding:  0.6rem 0.4rem;
  background-color: #3d4e56;
  border-radius: 0.6rem;
  font-size: large;
  border-color: #3d4e56;
  
}
.button{
  position: absolute;
  margin-left: 1330px;
  padding:  0.6rem 4rem;
  
}



.flex1{
  margin-left: 25px;
 
}